
<% if @tool.errors.any? %>
  <h2>The following errors prevents Tool from being saved</h2>
  <ul>
    <% @tool.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @tool do |t|%>
  <div style = "margin-left:35%;">
    <table>
      <tr>
        <td><%= t.label :name%></td>
        <td><%= t.text_area :name %></td>
      </tr>
      <tr>
        <td><%= t.label :description%></td>
        <td><%= t.text_area :description %></td>
      </tr>
      <tr>
        <td><%= t.label :address%></td>
        <td><%= t.text_area :address %></td>
      </tr>
      <tr>
        <td align="right"><%= t.submit%></td>
      </tr>
    </table>
    <p>
      <%= link_to "Back to Listings", tools_path %>
    </p>
  </div>
<% end %>
